{% extends "base.html.twig" %}

{% block body %}
<div>
    <h1>{{recipe.name}}</h1>
    <img src="{{recipe.photo}}" alt="Foto de la receta" width="680">
    <h2>Descripcion:</h2>
    <p>{{recipe.description}}</p>
    <h2>Preparacion:</h2>
    <p>{{recipe.preparation}}</p>
    <a href="{{path('recipes')}}" class="btn btn-success">Volver</a>
    <a href="recipe/edit/{{recipe.id}}" class="btn btn-warning">Editar receta</a>
    <a href="recipe/delete/{{recipe.id}}" class="btn btn-danger">Eliminar receta</a>
</div>
{% endblock %}