{% extends 'base.html.twig' %}

{% block title %}Todas las recetas{% endblock %}

{% block body %}
<div id="recipesContainer">
    {% if recipes %}
        {% for recipe in recipes %}
            <div class="card" id="recipeContent">
                <h2 class="card-header bg-success text-light text-center">{{recipe.name}}</h2>
                <div class="d-flex justify-content-center align-items-center h-50" id="photoContainer"><img src={{recipe.photo}} alt="Imagen de la receta" width="300" class="shadow-3d"></div>
                <h3 class="bg-success text-light rounded-pill w-50 px-4 my-2 m-auto shadow-3d">Descripcion</h3>
                <p class="mx-2">{{recipe.description}}</p>
                <h3 class="bg-success text-light rounded-pill w-50 px-4 my-2 m-auto shadow-3d">Preparacion</h3>
                <p class="mx-2">{{recipe.preparation}}</p>
                <div class="d-flex flex-column align-items-center">
                    <a href="recipe/{{recipe.id}}" class="w-75 btn btn-success my-1 rounded-pill border border-dark">Leer más</a>
                    <a href="recipe/edit/{{recipe.id}}" class="w-75 btn btn-warning my-1 rounded-pill border border-dark">Editar receta</a>
                    <a href="recipe/delete/{{recipe.id}}" class="w-75 btn btn-danger my-1 rounded-pill border border-dark">Eliminar receta</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>Aún no se han añadido recetas</h2>
    {% endif %}
</div>
<br>
<a href="{{path('create')}}" class="w-100 btn btn-success">Añadir receta</a>
{% if app.user %}
    <p>Sesión iniciada como {{app.user.email}}</p>
{% endif %}
{% endblock %}
